// Config

configuration {
    modi:               "drun,window,run,combi";
    cycle:              true;
    show-icons:         true;
    display-drun: 	" ";
    matching:           "glob";
    lines:              12;
    columns:            1;
    width:              720;
    location:           0;
    padding:            50;
    font:               "Noto Sans Mono 24";
    hide-scrollbar:     true;
    theme:              "javacafe";
    display-combi:		"rofi";
}

